*{
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

.cards{
    width: 80%;
    margin: 0 auto;
   }

img{
    width: 50%;
}

.card{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    gap: 1rem;
}